<template>
    <div>
        <div class="errors" v-if="errors">
            <ul>
                <li v-for="(fieldsError, fieldName) in errors" :key="fieldName">
                    <strong>{{ fieldName }}</strong> {{ fieldsError.join('\n') }}
                </li>
            </ul>
        </div>
        <table class="table">
            <thead>
            <th width="20%">Code</th>
            <th width="20%">Description</th>
            <th width="20%">Total Budget</th>
            <th width="20%">remaining</th>
            <th width="20%" colspan="2" class="text-center">Actions</th>

            </thead>
            <tbody>
            <template v-if="!discounts.length">
                <tr>
                    <td colspan="4" class="text-center">No Discounts Available</td>
                </tr>
            </template>
            <template v-else>
                <tr v-for="discount in discounts" :key="discount.id">
                    <td>{{ discount.code }}</td>
                    <td>{{ discount.description }}</td>
                    <td>{{ discount.number }}</td>
                    <td>{{ discount.remaining }}</td>
                    <td>
                        <button class="btn btn-danger" @click="showStats(discount.id)">Stats</button>

                    </td>
                    <td>
                        <button class="btn btn-primary" @click="publishDiscount(discount.id)" v-if="!discount.state">publish</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
        <modal :mobiles="mobiles" :show="showModal" @close="showModal = false"></modal>

    </div>
</template>

<script>
    import modal from './Modal'

    export default {
        name: 'list',
        components: {
            modal
        },
        data() {
            return {
                showModal: false,
                mobiles: [],
                errors: null
            }
        },
        mounted() {
            if (this.discounts.length) {
                return;
            }
            this.$store.dispatch('getDiscounts');
        },
        computed: {
            discounts() {
                return this.$store.getters.discounts;
            }
        },
        methods: {
            showStats(id) {
                let selectedDiscount = this.discounts.find((discount) => discount.id === id);
                this.mobiles = selectedDiscount.users;
                this.showModal = !this.showModal;
            },
            publishDiscount(id) {
                this.errors = null;
                axios.get(`api/panel/discounts/${id}/publish`)
                    .then((response) => {
                        alert("Published Successfully");
                        let selectedDiscount = this.discounts.find((discount) => discount.id === id);
                        this.mobiles = selectedDiscount.state=1;
                    })
                    .catch((error) => {
                        this.errors = {
                            '': [error.response.data.meta.error]
                        }
                    }).catch((error) => {
                    this.errors = {
                        '': ["Unexpected Error Occurred! Please Try Again!"]
                    }
                });
            }
        }
    }
</script>

<style scoped>
    .btn-wrapper {
        text-align: right;
        margin-bottom: 20px;
    }
    .errors {
        background: lightcoral;
        border-radius: 5px;
        padding: 21px 0 2px 0;
    }
</style>
