
<template>
    <div id="main">
        <myHeader/>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import myHeader from './Menu'
    export default {
        name: 'main-app',
        components:{
            myHeader
        },
        mounted() {
            this.$router.push('/discounts');

        }
    }
</script>
