<template>
    <nav class="navbar-expand-lg navbar navbar-dark bg-dark">

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <router-link class="nav-link" to="/discounts">List of Discounts</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/discounts/new">Create Discount</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>
<script>
    export default{
        name: 'top-menu'
    }
</script>
<style>
    .navbar-nav {
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }

    .navbar-nav > li {
        display: inline-block;
        float:none;
    }
    .navbar{
        margin-bottom: 3%;
    }
</style>
