<template>
    <div class="modal-mask" @click="close" v-show="show">
        <div class="modal-container" @click.stop>
            <div class="modal-header">
                <h3>Users who have won this discount code</h3>
            </div>
            <div class="modal-body">
                <ul class="list-group text-center ul-scrollable" >
                    <template v-if="mobiles.length">
                        <li class="list-group-item" v-for="mobile in mobiles">
                            {{mobile}}
                        </li>
                    </template>
                    <template v-else>
                        <h2>No users</h2>
                    </template>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'modal',
        props: ['mobiles', 'show'],
        methods: {
            close: function () {
                this.$emit('close');
            }
        }
    }
</script>
<style scoped>
    * {
        box-sizing: border-box;
    }

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        transition: opacity .3s ease;
    }

    .modal-container {
        width: 40%;
        margin: 40px auto 0;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .text-right {
        text-align: right;
    }

    .form-label {
        display: block;
        margin-bottom: 1em;
    }

    .form-label > .form-control {
        margin-top: 0.5em;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 0.5em 1em;
        line-height: 1.5;
        border: 1px solid #ddd;
    }

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .ul-scrollable{
        height: 600px;
        overflow-y:scroll;
    }
</style>
