<template>
    <div>
        <form @submit.prevent="add">
            <div class="form-group row">
                <label>Code:</label>
                <input type="text" v-model="discount.code" class="form-control" placeholder="Code">
            </div>
            <div class="form-group row">
                <label>Description:</label>
                <input type="text" v-model="discount.description" class="form-control"
                       placeholder="Description">
            </div>
            <div class="form-group row">
                <label>Number:</label>
                <input type="text" v-model="discount.number" class="form-control" placeholder="Number">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-dark" type="submit">Store</button>
            </div>
        </form>

        <div class="errors" v-if="errors">
            <ul>
                <li v-for="(fieldsError, fieldName) in errors" :key="fieldName">
                    <strong>{{ fieldName }}</strong> {{ fieldsError.join('\n') }}
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
    import validate from 'validate.js';

    export default {
        name: 'new',
        data() {
            return {
                discount: {
                    code: '',
                    description: '',
                    number: ''
                },
                errors: null
            }
        },
        computed: {
            discounts() {
                return this.$store.getters.discounts;
            }
        },
        methods: {
            add() {
                this.errors = null;
                const constraints = this.getConstraints();
                const errors = validate(this.discount, constraints);
                if (errors) {
                    this.errors = errors;
                    return;
                }
                axios.post('/api/panel/discounts', this.discount)
                    .then((response) => {
                        this.$store.commit('addDiscounts', response.data.data);
                        this.$router.push('/discounts');
                    })
                    .catch((error) => {
                        this.errors = {
                            '': [error.response.data.meta.error]
                        }
                    })
                    .catch((error) => {
                    this.errors = {
                        '': ["Unexpected Error Occurred! Please Try Again!"]
                    }
                });
            },
            getConstraints() {
                return {
                    code: {
                        presence: true,
                        length: {
                            minimum: 3,
                            message: 'Must be at least 3 characters long'
                        }
                    },
                    description: {
                        presence: true,
                    },
                    number: {
                        presence: true,
                        numericality: true,
                    }
                };
            }
        }
    }
</script>
<style scoped>
    .errors {
        background: lightcoral;
        border-radius: 5px;
        padding: 21px 0 2px 0;
    }
</style>
